@font-face{
    font-family:michuhu;
    src:url("/fonts/michuhu.ttf");
}
@font-face{
    font-family:dahufi;
    src:url("/fonts/dahufi.ttf");
}




body , html, input[type='text'],textarea{
    font-family:dahufi,Arial;
}

code {
    font-family:dahufi,mono;
}
