
.lang_table td:nth-child(1) , th{
	font-weight:bold;
	background-color:#aaaaaa;
}

.lang_table td , .lang_table th{
	border-width: 1px;
	border-color:black;
	border-style:solid solid none none;
	padding:10px;
}

.dict {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}

.dict_item{
    padding:3px;
	border-right:solid black 1px;
}

.top_panel {
	background-color: #aaaaaa;
	padding :10px;
	margin :0px;
}
