{{export
	as_index=true
}}\
<!Doctype html>
<html>
<head>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>{{first $0.title "Michuhu Language Page"}}</title>
</head>
<body>
<div class="top_panel">
<a href="/language">Language Docs</a> :: <a href="/writings">Writings</a> :: <a href = "/dict">Dictionary</a>
<br><br>
{{let bp = bread_crumbs $0.build.out_path}}\
{{let blen = len $bp }}<a href="/">Home</a> \
{{if gt $blen 2}}\
	{{for k v in slice $bp 1 (sub $blen 1) }}\
	/ <a href="/{{$v}}"> {{base_name_sure $v}} </a>
	{{/for}}\
{{/if}}
</div>


{{if $0.title}}<h1>{{$0.title}} - {{first $0.dahufi ""}}</h1>{{/if}}
    {{$1}}
</body>
</html>
